!!!5
%html
  %head
    %title G5radio
    = stylesheet_link_tag 'default'
    = csrf_meta_tag
  %body
    %header
      - if current_user
        = link_to 'Log out', logout_path
        = image_tag current_user.avatar

      - else
        = link_to 'Sign in with Twitter', '/auth/twitter'
        /= link_to 'Sign in with Facebook', '/auth/facebook'

    = yield
